<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-black p-2 text-white">

	<div class="container">
		<nav class="class="btn-group"" role="group">
			<a class="btn btn-primary" aria-current="page" href="dashboard">View Dashboard</a>&nbsp;&nbsp;
			<a class="btn btn-primary" aria-current="page" href="enquiry">Add Enquiry</a>&nbsp;&nbsp;
			<a class="btn btn-primary" href="view-enquiries">View Enquiry</a>&nbsp;&nbsp;
			<a class="btn btn-primary" href="logout">Logout</a>
		</nav>
		<hr/>
		<h2>Dash Board</h2>
		<table class="table table-success table-striped">
			<tr class="table-primary">
			<td class="table-primary">Total Enquiries:</td>	
			<td th:text="${dashboardresponse.totalEnqrs}" ></td>
			</tr>
			<tr>
			<td>Open Enquiries:</td>	
			<td th:text="${dashboardresponse.openEnqrs}"
			</tr>
			<tr>
			<td>Enrolled Enquiries:</td>	
			<td th:text="${dashboardresponse.enrolledEnqrs}" ></td>
			</tr>
			<tr>
			<td>Lost Enquiries:</td>	
			<td th:text="${dashboardresponse.lostEnqrs}"></td>
			</tr>
		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>